
/api/OnlineStore.API/.vs
/api/OnlineStore.API/OnlineStore.API/obj
/api/OnlineStore.API/OnlineStore.Azul/obj
/api/OnlineStore.API/OnlineStore.Common/obj
/api/OnlineStore.API/OnlineStore.Data/obj
/api/OnlineStore.API/OnlineStore.Database/obj
/api/OnlineStore.API/OnlineStore.Repository/obj
/api/OnlineStore.API/OnlineStore.Services/obj
