.checkmark-icon {
  font-size: 100px;
  color: #28a745; /* Green color for success */
}

.success-message {
  font-size: 1.5rem;
  color: #333;
}

.container2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .checkmark-icon {
    font-size: 80px;
  }

  .success-message {
    font-size: 1.25rem;
  }
}
